{% extends "layout_contenu.html" %}
{% block title %} Destinations {% endblock %}
{% block page_active3 %}active{% endblock %}
{% block page_current4 %}<span class="sr-only">(current)</span>{% endblock %}
{% block sous_title%}Qui Sommes-Nous{% endblock %}
{% block lien %}{{ url_for('index_page') }}{% endblock %}
{% block last_page %}Accueil{% endblock %}
{% block current_page %}Qui Sommes-Nous{% endblock %}
{% block bar %}
  <!-- /about-6-->
  <section class="w3l-cta4 py-5">
      <div class="container py-lg-5">
        <div class="ab-section text-center">
          <h6 class="sub-title">Qui sommes-nous</h6>
          <h3 class="title">Faites de votre mieux pour vous aider à choisir votre destination et à découvrir de nouveaux horizons.</h3>
          <p class="py-3 mb-3">Nous sommes une équipe entièrement distribuée de 5 étudiants de Toulouse Capitole.
            <br>
            Nous avons toujours cherché à faire les choses un peu différemment chez Novage.Nous nous soucions d’offrir un service de qualité, des relations de confiance avec nos utilisateurs et un sens de la communauté qui relie nos utilisateurs et notre équipe les uns aux autres.
          </p>

        </div>
        <div class="row mt-5">
          <div class="col-md-9 mx-auto">
            <img src="static/assets/images/banner3.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  </section>
  <!-- //about-6-->
   <!-- /content-6-->
   <section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title">Nos valeurs</h6>
          <h3 class="title">Notez vos voyages!
          partagez vos voyages ! </h3>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <p class="mb-3">Nous voulons construire un type d'entreprise différent qui se concentre non seulement sur les résultats, mais aussi sur la satisfaction de nos utilisateurs et de notre équipe, et sur notre croissance personnelle tout au long du parcours. Voici les valeurs qui guident collectivement nos décisions et nos actions :</p>
            <p class="mb-3">
              <ul>
                <li>Transparence par défaut :
                <ol>Nous nous efforçons de rendre toutes les communications claires et d'éviter de faire des suppositions.</ol></li>
                <li>Cultiver la positivité :
                <ol>Nous croyons que les commentaires constructifs et honnêtes sont une opportunité de croissance.</ol></li>
              </ul>
              </p>
              <a href="destination" class="btn btn-style btn-primary mt-4">Voir ce que nous avons à proposer</a>
        </div>
      </div>
    </div>
</section>
<!-- //content-6-->

  <!-- stats -->
  <section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
      <div class="w3-stats-inner-info">
        <div class="row fafa">
          <div class="col-lg-4 col-6 stats_info counter_grid text-left">
            <span class="fa fa-smile-o"></span>
            <p class="counter">1730</p>
            <h4>Happy Customers</h4>
          </div>
          <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
            <span class="fa fa-users"></span>
            <p class="counter">730</p>
            <h4>Custom Products</h4>
          </div>
          <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
            <span class="fa fa-database"></span>
            <p class="counter">100</p>
            <h4>partners</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //stats -->
  <!-- team -->
  <section class="w3l-team" id="team">
    <div class="team-block py-5">
      <div class="container py-lg-5">
        <div class="title-content text-center mb-lg-3 mb-4">
          <h6 class="sub-title">NOTRE ÉQUIPE</h6>
          <h3 class="hny-title">Rencontrez nous</h3>
        </div>
        <div class="row">
          <div class="col-lg-3 col-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/assets/images/team1.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Anne</a></h3>
                <span class="post">Ndjeng</span>
                <ul class="social">
                  <li>
                    <a href="https://fr-fr.facebook.com/" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/?lang=fr" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/assets/images/team2.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Xiaoyun</a></h3>
                <span class="post">Tang</span>
                <ul class="social">
                  <li>
                    <a href="https://fr-fr.facebook.com/" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/?lang=fr" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Yinchen</a></h3>
                <span class="post">Wang</a></span>
                <ul class="social">
                  <li>
                    <a href="https://fr-fr.facebook.com/" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/?lang=fr" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/assets/images/team4.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Britney</a></h3>
                <span class="post">Rangith</a></span>
                <ul class="social">
                  <li>
                    <a href="https://fr-fr.facebook.com/" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/?lang=fr" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/assets/images/team5.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Samir</a></h3>
                <span class="post">Bouridj</a></span>
                <ul class="social">
                  <li>
                    <a href="https://fr-fr.facebook.com/" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/?lang=fr" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //team -->
{% endblock %}


